<section class="hero is-small is-info is-bold">
    <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item" href="/database">Database items</a>
            <a class="navbar-item">
              Documentation
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Weather website
      </h1>
      <h2 class="subtitle">
        A website utilizing a weather api
      </h2>
      <form method="GET" action="/searchedLocation">
      <input class="input" name="search" id="search" type="text" placeholder="Search for a city">
          <div class="control">
            <br>
            <button class="button is-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</section>

<br>

<section class="section">
  <div class="container">
    <div class="row columns is-multiline">
      {{#if weather.length}}
      {{#each weather}}
      <div class="column is-one-forth">
        <div class="card large">
          <div align="center">
          <figure class="image is-128x128">
            <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="Placeholder image">
          </figure>
            <p class="title" >{{name}}</p>
            <p class="title">{{temp}} °C</p>
            <p class="subtitle">{{weather}}</p>
            <p class="subtitle">{{description}}</p>
        </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <p>No weather entries</p>
      {{/if}}
    </div>
  </div>
</section>



